
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redirecting...</title>
    <link href="~/Styles/layout.css" rel="stylesheet" />
</head>
<body>
    <div class="panel-info"> 
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
</body>
</html>
